<app-navbar/>
<!-- <div class="w-screen mx-4 my-4 sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl 2xl:max-w-2xl sm:mx-auto"> -->
<div class="mx-4 my-4 sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl 2xl:max-w-5xl sm:mx-auto">
  <router-outlet />
</div>
<!-- <app-post></app-post> -->
<!-- <div class="flex mx-4">
  <div class="">
    <app-sidebar1></app-sidebar1>
    <app-sidebar2></app-sidebar2>
  </div>
  <main>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post2></app-post2>
    <app-post2></app-post2>
    <app-post2></app-post2>
    <app-comment></app-comment>
    <app-editprofile></app-editprofile>
    <app-imageform></app-imageform>
  </main>
</div> -->
<!-- <div class="bg-gradient-to-t flex justify-center items-center from-blue-500 to-green-500 w-screen h-screen">
    <div class="bg-red-400 w-40 h-40 text-center">Flex</div>
</div> -->
