<div>
    <div class="mb-4 flex justify-center w-max mx-auto rounded-sm bg-white border-b border-gray-200 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
            <li class="me-2" role="presentation">
                <button (click)="loadTimeLinePosts()" class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Time line</button>
            </li>
            <li class="me-2" role="presentation">
                <button (click)="loadFollowingsPosts()" class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Follwings</button>
            </li>
            <li class="me-2" role="presentation">
                <button (click)="loadOwnPosts()" class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">My Posts</button>
            </li>
            <li role="presentation">
                <button (click)="loadSuggestionPosts()" class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Suggestions</button>
            </li>
        </ul>
    </div>
    <app-create-post/>
    <div *ngFor="let post of posts">
        <div class="my-6">
            <app-post2 (delete)="onPostDelete($event)" [post]="post"/>
            <!-- <app-post [post]="post"/> -->
        </div>
    </div>
</div>