<div class="max-w-4xl shadow-md mx-auto border px-6 py-4 rounded-lg">
  <div class="flex items-center mb-6">
    <img
      src="https://randomuser.me/api/portraits/men/97.jpg"
      alt="Avatar"
      class="w-12 h-12 rounded-full mr-4"
    />
    <div>
      <div class="text-lg font-medium text-gray-800">
        {{ post.member.firstName }} {{ post.member.lastName }}
      </div>
      <div class="text-gray-500">{{ post.member.email }}</div>
    </div>
  </div>
  <a [routerLink]="['/posts', post.id]">
    <p class="text-lg leading-relaxed mb-6">{{ post.content }}</p>
  </a>
  <!-- <div class="flex justify-between items-center">
        <div>
            <a href="#" class="text-gray-500 hover:text-gray-700 mr-4"><i class="far fa-thumbs-up"></i>10 Like</a>
            <a href="#" class="text-gray-500 hover:text-gray-700"><i class="far fa-comment-alt"></i> Reply</a>
        </div>
        <div class="flex items-center">
            <a href="#" class="text-gray-500 hover:text-gray-700 mr-4"><i class="far fa-flag"></i> Report</a>
            <a href="#" class="text-gray-500 hover:text-gray-700"><i class="far fa-share-square"></i> Share</a>
        </div>
    </div> -->
  <div class="mt-4 flex justify-between items-center">
    <div class="flex">
      <div class="flex mr-2 text-gray-700 text-sm hover:text-red-600">
        <svg
          *ngIf="!isLiked"
          (click)="like()"
          fill="none"
          viewBox="0 0 24 24"
          class="w-4 h-4 mr-1"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
          />
        </svg>
        <svg
          *ngIf="isLiked"
          (click)="unlike()"
          fill="currentColor"
          viewBox="0 0 24 24"
          class="w-4 h-4 mr-1"
        >
          <path
            fill-rule="evenodd"
            d="M12 4.248C8.852-0.278 0-.278 0 8.192 0 12.853 5.571 19.908 12 24c6.43-4.092 12-11.147 12-15.808C24-.278 15.148-.278 12 4.248z"
            clip-rule="evenodd"
          ></path>
        </svg>

        <span>{{ numOfLikes }}</span>
      </div>
      <div class="flex mr-2 text-gray-700 text-sm">
        <svg
          fill="none"
          viewBox="0 0 24 24"
          class="w-4 h-4 mr-1"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"
          />
        </svg>

        <span>{{ numOfComments }}</span>
      </div>
    </div>
    <div class="flex mr-2 text-gray-700 text-sm">
      <svg
        fill="none"
        viewBox="0 0 24 24"
        class="w-4 h-4 mr-1"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"
        />
      </svg>
      <span>share</span>
    </div>
  </div>
</div>
