<div class="flex bg-white flex-col shadow-md border px-6 py-4 rounded-md">
  <div class="flex justify-between items-center mb-6">
      <div class="flex">
      <app-no-image *ngIf="!profilePictureUrl" [size]=6/>
      <img
        *ngIf="profilePictureUrl"
        [src]="profilePictureUrl"
        alt="Avatar"
        class="w-12 h-12 rounded-full mr-4"
      />
    <div class="ms-2">
      <a [routerLink]="['/profile', post.member.id]">
        <div class="text-lg font-medium text-gray-800">
          {{ post.member.firstName }} {{ post.member.lastName }}
        </div>
        <div class="text-gray-500">{{ post.member.email }}</div>
      </a>
    </div>
      </div>

<!-- drop down -->
  <div class=" relative inline-block text-left dropdown">
    <span class="rounded-md shadow-sm"
      ><button class="inline-flex justify-center w-full px py-2 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white rounded-md hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800" 
       type="button" aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117"
       >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
        </svg>
      </button
    ></span>
    <!-- <div class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95"> -->
    <div class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95" [class.opacity-100]="isDropdownOpen" [class.visible]="isDropdownOpen">
      <div class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none" aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">
        <div class="py-1">
          <button tabindex="0" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left" role="menuitem" (click)="isDropdownOpen = false">Delete</button>
          <button tabindex="0" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left" role="menuitem" (click)="isDropdownOpen = false">Report</button>
        </div>
      </div>
    </div>
  </div>
<!-- ------------------------------------------------------------- -->

  </div>
  <div class="mb-2" *ngIf="imageUrl">
    <img class="rounded-lg" [src]="imageUrl" alt="">
  </div>
  <a [routerLink]="['/posts', post.id]">
    <p class="text-lg leading-relaxed mb-6">{{ post.content }}</p>
  </a>
  <div class="mt-4 flex justify-between items-center">
    <div class="flex">
      <div class="flex mr-2 text-gray-700 text-sm hover:text-red-600">
        <svg
          *ngIf="!isLiked"
          (click)="like()"
          fill="none"
          viewBox="0 0 24 24"
          class="w-4 h-4 mr-1"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
          />
        </svg>
        <svg
          *ngIf="isLiked"
          (click)="unlike()"
          fill="currentColor"
          viewBox="0 0 24 24"
          class="w-4 h-4 mr-1"
        >
          <path
            fill-rule="evenodd"
            d="M12 4.248C8.852-0.278 0-.278 0 8.192 0 12.853 5.571 19.908 12 24c6.43-4.092 12-11.147 12-15.808C24-.278 15.148-.278 12 4.248z"
            clip-rule="evenodd"
          ></path>
        </svg>

        <span>{{ numOfLikes }}</span>
      </div>
      <div class="flex mr-2 text-gray-700 text-sm">
        <svg
          fill="none"
          viewBox="0 0 24 24"
          class="w-4 h-4 mr-1"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"
          />
        </svg>

        <span>{{ numOfComments }}</span>
      </div>
    </div>
    <div class="flex mr-2 text-gray-700 text-sm">
      <svg
        fill="none"
        viewBox="0 0 24 24"
        class="w-4 h-4 mr-1"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"
        />
      </svg>
      <span>share</span>
    </div>
  </div>
</div>
