<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col items-center space-y-5 sm:flex-row sm:space-y-0">
  <div class="relative">
    <img
      #picture
      class="object-cover w-40 h-40 p-1 rounded-full ring-2 ring-indigo-300"
      *ngIf="!user.profilePictureLocation"
      src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGZhY2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
      alt="Bordered avatar"
    />
    <img
      #picture
      class="object-cover w-40 h-40 p-1 rounded-full ring-2 ring-indigo-300"
      *ngIf="user.profilePictureLocation"
      src="http://localhost:8080/api/storage/images/{{ user.profilePictureLocation }}"
      alt="Bordered avatar"
    />
    <label class="absolute bg-gray-100 p-2 rounded-full bottom-1 right-0">
      <svg
        fill="#000000"
        height="200px"
        width="200px"
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 390 390"
        xml:space="preserve"
        class="w-6 h-6"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <g id="XMLID_17_">
            <path
              id="XMLID_18_"
              d="M365,95h-70.855l-15.1-40.267C276.85,48.878,271.253,45,265,45H125c-6.253,0-11.85,3.878-14.045,9.733 L95.855,95H25c-13.807,0-25,11.193-25,25v200c0,13.807,11.193,25,25,25h340c13.807,0,25-11.193,25-25V120 C390,106.193,378.807,95,365,95z M195,125c52.383,0,95,42.617,95,95s-42.617,95-95,95s-95-42.617-95-95S142.617,125,195,125z"
            ></path>
            <path
              id="XMLID_21_"
              d="M130,220c0,35.841,29.159,65,65,65s65-29.159,65-65s-29.159-65-65-65S130,184.159,130,220z"
            ></path>
          </g>
        </g>
      </svg>
    <input
      type="file"
      formControlName="file"
      id="pictureInput"
      (change)="onFileSelected($event)"
      hidden
    />
    </label>
  </div>

  <div class="flex flex-col space-y-5 sm:ml-8">
    <button
      class="py-3.5 px-7 hover:cursor-pointer text-base font-medium text-indigo-100 focus:outline-none bg-[#202142] rounded-lg border border-indigo-200 hover:bg-indigo-900 focus:z-10 focus:ring-4 focus:ring-indigo-200"
      type="submit"
      >Change picture
    </button>
    <button
      type="button"
      class="py-3.5 px-7 text-base font-medium text-indigo-900 focus:outline-none bg-white rounded-lg border border-indigo-200 hover:bg-indigo-100 hover:text-[#202142] focus:z-10 focus:ring-4 focus:ring-indigo-200"
    >
      Delete picture
    </button>
  </div>
</form>
